.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto 20rem;
}

.tic-tac-toe-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  width: fit-content;
}

.cell {
  width: 5rem;
  height: 5rem;
  background-color: aqua;
  align-items: center;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}
